.navarColor{
    background-color: rgb(123, 226, 226);
}

.texto-borde {
    -webkit-text-stroke: 0.5px rgb(41, 41, 41);
    color: transparent; 
    text-shadow: 0.2em 0.5em 0.1em rgb(189, 90, 90),
                 -0.3em 0.1em 0.1em rgb(106, 168, 91),
	             0.4em -0.3em 0.1em rgb(107, 107, 197);
    font-size: xx-large;

}

.text-font{
    font-family: 'Times New Roman', Times, serif;
}